/* This is the main style sheet */
/*  Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Azeret Mono", monospace;
}

/*  Header Styles */
.top-line {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: space-between
}

.banner {
    background-image: url(/assets/Hero-bg.png);
    max-width: 100%;
    height: 652px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-image {
    margin: 35px 600px 32px 600px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-button {
    background: rgb(13, 19, 33);
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    margin: 32px 0px;
}


/* Body Styles Start Here */
#section-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    align-items: center;
    margin: 0px 100px;
    padding: 80px 97px 80px 97px;
}

.section-first-box {
    margin: 20px;

}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.section-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.why-section-items {
    display: flex;
    padding: 20px;
    gap: 100px;
    align-items: center;
}

.why-section-items-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.why-section-items-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.video-box {

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 10px 0px;
    padding: 32px;
}

.video-frame {
    /* width=100%; */
    /* height=auto% ; */
    border-radius: 16px;
}

/* Current target */

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.html {
    background-color: rgb(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}

.css {
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}

.js {
    background-color: rgba(255, 233, 0, 0.05);
    padding: 40px;
    border-radius: 16px;

}

.next-item-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 24px 0px;
    padding: 40px;
}

.next-item {
    width: 80%;
}


.next-item-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}

.react-logo {
    width=94px;
    height=85px;
    margin: 0px 24px;
}

/* support section */
.support-section {
    background-image: url(/assets/handshake.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0px 150px;
    padding: 64px 48px;
    border-radius: 16px;
}

.support-items {
    padding: 64px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    background: none;
    margin: 50px;
    padding: 20px;
}


/* style for footer */
.footer {
    display: flex;
    padding: 32px 150px 32px 150px;
    justify-content: space-between;
}

.footer-text {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.icon{
    font-size: 32px;
    margin: 20px; ;
    color: none;
}